.common-btn {
  font-family: 'Lato';
  white-space: nowrap;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.4rem;
  box-shadow: 0 0.4rem 0.6rem rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: #6772e5;
  text-decoration: none;
  transition: all 0.15s ease;
}
